.logo {
  padding-left: 25%;
  height: 61.35px;
  @media screen and (max-width: 500px) {
    padding-left: 5%;
    height: 50px;
  }
}

.active {
  color: pink;
}

.searchIcon {
  color: white;
  width: 16px;
  height: 16px;
}
