.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;

  .image {
    height: 101vh;
    // filter: brightness(50%);
  }

  h1 {
    top: 50px;
    left: 40px;
    justify-content: center;
    align-items: center;
  }

  .slide {
    opacity: 0;
    transition-duration: 0.5s ease;
  }

  .slide_selector1 {
    position: absolute;
    top: 95%;
    left: 35%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .slide_selector2 {
    position: absolute;
    top: 95%;
    left: 45%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .slide_selector3 {
    position: absolute;
    top: 95%;
    left: 55%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .slide_selector4 {
    position: absolute;
    top: 95%;
    left: 65%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
