.container {
  height: 100vh;
  background-color: black;
}

.socialMediaDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30vh;
  right: 5%;
  .socialMedia {
    height: 24px;
    width: 42px;
    color: aliceblue;
    margin: 30px 0px;
  }
}
