.headerContainer {
  margin: 40px;
  text-align: center;
}
.headerTitle {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
}
.hLineSm {
  width: calc(30px + 4vw);
  background-color: #fe5b7f;
  size: 20px;
  border: none;
  height: 2px;
}
.heroCardStyle {
  @media screen and (min-width: 575px) {
    display: flex;
    flex-direction: row;
    border: hidden;
  }
  display: flex;
  flex-direction: column;
  border: hidden;
}

.heroCardImg {
  @media screen and (min-width: 575px) {
    height: 65vh;
    width: 60vw;
  }
  border-radius: 0;
}
.heroCardBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f9ecef;
}

.cardStyle {
  border: hidden;
  margin: 0px 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  background: white;
  border-radius: 5px;
  margin-bottom: 60px;
}
.titleSmall {
  font-style: italic;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

.teamContainer {
  margin: 40px;
}
