.aboutSection {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
}

@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
